/* Outer, Inner Containers */

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .inner {
    background-color: var(--body);
    padding: 2%;
    border: 2px solid var(--blue-border);
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    margin: 20px 0 20px 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }
  .one {
    margin-top: 70px;
  }
  .one:hover {
    background-color: var(--hover-dark);
    border: 2px solid var(--hover-border);
  }
  .two:hover {
    background-color: var(--hover-dark);
    border: 2px solid var(--hover-border);
  }
  
  .code {
    font-family: "Share Tech Mono", monospace;
    color: var(--terminal-text);
    border: 2px solid var(--blue-border);
    background-color: var(--hover-background);
    position: absolute;
    right: 1%;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    font-size: 0.75em;
    padding: 5px 0 3px 0;
  }


  /* School & Work Info Positioning */
  .inner h4 {
    text-align: center;
    margin-top: 0;
    margin: 0;
  }
  
  /* 'Education' 'Experience' headers  */
  .inner h5 {
      margin: 25px 0 10px 0;
      font-size: 1em;
      border-bottom: 3px double var(--blue-border);
      border-radius: 3px;
      display: inline-block;
      padding: 8px 25px 8px 25px;
  }
  
  h5:nth-of-type(2){
      margin-top: 0;
  }
  h5:nth-of-type(3){
    margin-top: 0;
}
  
  /* School/Work span headings */
  .inner div {
    position: relative;
    margin-top: 15px;
  }
  
  .h-span {
    margin: 0 3% 3px 40px;
    font-size: .9em;
  }
  .inner div span {
    float: right;
    margin-left: 10px;
  }
  
  .inner i {
    margin-top: 0;
  }
  
  /* Lists */
  .inner ul {
    margin-top: 15px;
    /* list-style: circle; */
  }
  @counter-style rockett {
    system: cyclic;
    symbols: "\1F680";
    suffix: " ";
  }
  .experience {
    list-style-type: rockett;
  }
  @counter-style books {
    system: cyclic;
    symbols: "\1F4DA";
    suffix: " ";
  }
  .lst {
    list-style-type: books;
  }
  .experience li {
    margin-right: 25%;
  }

  li {
    padding-left: .8rem;
    margin-bottom: 2px;
    font-size: .85em;
  }
  
  /* wake bitly logo  */
  .logo {
    position: absolute;
    padding: 3px;
    left: -25px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .two{
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 90px;
  }
  .one:hover .logo {
    border: 1px solid var(--hover-border);
    background-color: var(--hover-background);
  }
  

  .lang-container{
    display: flex;
    justify-content: space-evenly;
    font-size: .9em;
  }
  .lang-container-n {
    margin-bottom: 10px;
  }
  .lp{
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--blue-border);
    border-radius: 20px;
    font-size: 0.85em;
    text-align: center;
    margin: auto 5px auto;
    word-wrap: unset;
  }
  
  .language-tools {
    margin-right: 15px;
  }
  .skill-gen{
    margin-left: 10px;
  }
  .skill-profile{
    margin: 5px;
    font-size: .9em;
  }


  @media (max-width: 472px) {
    li {
      font-size: .75em;
    }
    .h-span {
      font-size: .8em;
    }
  } 