.heading {
    background-color: var(--hf-background);
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    /* transition: 500ms; */
    border-bottom: 2px solid var(--blue-border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .heading:hover .nav-container {
    border-bottom: 2px solid var(--hover-border);
  }
  .heading h3 {
    text-align: center;
    margin: 0;
  }
  
  /* .nav-container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--hf-background);
    font-size: 0.85em;
    width: 100%;
    border-bottom: 2px solid var(--blue-border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 500ms;
  } */
/*   
  .nav-container p {
    margin: 5px 0 5px 0;
  }
  
  .nav-container > p a {
    text-decoration: none;
  } */

  .switch-container {
    position: absolute;
    right: 3%;
    z-index: 1;
    top: 15px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
  }
  
  .switch-container img{
    margin-bottom: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .slider-container:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 10px;
    background-color: #131c2b;
    border: 1px solid #008616;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  input:checked + .slider-container {
    background-color: #ffffff;
    border: 1px solid #07202e;
  }
  
  input:checked + .slider-container:before {
    background-color: #62aae6;
    border: 1px solid #07202e;
    transform: translateX(27px);
  }

  /* Rounded sliders */
.slider-container.round {
    border-radius: 35px;
  }
  
  .slider-container.round:before {
    border-radius: 50%;
  }