.my_image_click {
    margin: 10px;
    height: 420px;
    width: 420px;
    border-radius: 5%;
    border: 1px solid var(--blue-border);
    overflow: hidden;
}
.my_image_click * {
    padding-left: 0;
}

/* Code.js */
.code_container {
    position: relative;
}
.code_container a {
    border-bottom: none
}
.code_container a:hover {
    border-bottom: none
}

/* Code.js Uke.js links */
.img-link {
    position: absolute;
    right: 2%;
    top: 7%;
    transform: rotateY(0deg) rotate(25deg);
}
.inner_image {
    width: 100px;
}
.inner_image:hover{
    width: 103px;
}

@media (max-width: 963px){
    .img-link {
        position: absolute;
        right: 4%;
        top: 6%;
    }
    .inner_image {
        width: 67px;
    }
    .inner_image:hover{
        width: 69px;
    }
}