.my_image_click {
    margin: 10px;
    height: 420px;
    width: 420px;
    border-radius: 5%;
    border: 1px solid var(--blue-border);
    overflow: hidden;
}

.code_container {
    position: relative;
}
.code_container a {
    border-bottom: none
}
.code_container a:hover {
    border-bottom: none
}
.github {
    position: absolute;
    right: 2%;
    top: 7%;
    transform: rotateY(0deg) rotate(25deg);
}

.git_image {
    width: 100px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.git_image:hover{
    width: 115px;
}

@media (max-width: 800px){
    .github {
        position: absolute;
        right: 3%;
        top: 6%;
    }
    .git_image {
        width: 80px;
    }
    .git_image:hover{
        width: 90px;
    }
}
@media (max-width: 590px){
    .github {
        position: absolute;
        right: 3%;
        top: 6%;
    }
    .git_image {
        width: 60px;
    }
    .git_image:hover{
        width: 70px;
    }
}