/* MEDIA */

@media (max-width: 1450px) {
  .logo {
    left: -20px;
  }
}
@media (max-width: 1035px) {
  .inner {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 100px;
  }
  .logo {
    height: 40px;
    width: 40px;
    left: -15px;
  }
  body {
    font-size: 18px;
  }
  .about-container {
    padding-top: 90px;
  }
}
@media (max-width: 750px) {
  .inner {
    font-size: .9em;
  }
  .logo {
    left: -10px;
  }
  .code {
    width: 70px;
  }
  .my_image_click {
    border-radius: 10%;
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 590px) {
  .my_image_click {
    height: 300px;
    width: 300px;
  }

  .r-link{
    height: 15px;
    width: 15px;
  }
  .git {
    height: 45px;
    width: 45px;
    left: 270px;
    top: 10px;
  }
  .box:hover .git {
    transform: translateY(0) translateX(0);
  }
  .inner h5 {
    padding: 0px 5px 0px 5px;
    margin: 20px 0 15px 0;
  }
}

@media (max-width: 540px) {
  .terminal {
    font-size: .75em;
    height: 450px;
  }
  .one {
    font-size: 0.8em;
  }
  .one div {
    margin-top: 0;
  }
  .code {
    width: 55px;
  }
  .logo {
    height: 35px;
    width: 35px;
    left: -5px;
    background-color: var(--hover-background);
    border: 1px solid var(--hover-border);
  }
  .code {
    font-family: "Share Tech Mono", monospace;
    color: var(--terminal-text);
    border: 2px solid var(--blue-border);
    background-color: var(--hover-background);
    position: absolute;
    left: 84%;
    transform: translateY(-35px);
    width: 65px;
    text-align: center;
  }
  .inner {
    background-color: var(--hover-dark);
    padding: 2%;
    border: 2px solid var(--hover-border);
    border-radius: 10px;
    margin: 20px 0 20px 0;
  }
  .two {
    margin-bottom: 50px;
  }
  .box {
    border: 2px solid var(--link-hover);
    margin-top: 5px;
  }
  .lang a {
    color: var(--terminal-text);
    border: 2px solid var(--blue-border);
    background-color: var(--hover-background);
  }
  .heading:hover .nav-container {
    border-bottom: 2px solid var(--blue-border);
  }
  footer:hover {
    border-top: 1px solid var(--blue-border);
  }
  .switch {
    width: 27px;
    height: 11px;
  }

  .slider-container:before {
    height: 8px;
    width: 8px;
  }
  input:checked + .slider-container:before {
    transform: translateX(16px);
  }
  .switch-container img{
    height: 20px;
    width: 20px;
  }
  
}
@media (max-width: 414px) {
  .terminal {
    height: 470px;
  }
  .t-head-container{
    margin-bottom: 15px;
  }
  .code {
    font-size: .7em;
    width: 50px;
  }
}
@media (max-width: 400px) {
  .terminal {
    height: 450px;
  }
}
@media (max-width: 340px) {
  .terminal {
    height: 420px;
    font-size: .7em;
  }

  .git {
    left: 240px;
    top: 10px;
  }
}
