:root {
  --body-font: #ffffff;
  --terminal-background: #000000;
  --hover-background: #000000;
  --hf-background: #262e36;
  --body: #182027;
  --blue-border: #1d3e4d;
  --link-hover: #2384d3;
  --hover-dark: #11171b;
  --hover-border: #0adf03a4;
  --terminal-text: #09ff00;
  --footer-a: #a9a9aa;
  --site-hover: #1e4a6ea6;
}

.light-mode {
  --body-font: #000000;
  --terminal-background: #ffffff;
  --hover-background: #dff9f2;
  --hf-background: #c5fff0;
  --body: #e9eef8;
  --hover-dark: #ffffff;
  --hover-border: #317a65;
  --terminal-text: #0b2208;
  --footer-a: #000000;
  --site-hover: #a2cae667;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--body);
  color: var(--body-font);
  font-size: 20px;
  transition: 500ms;
  overscroll-behavior-y: none;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--body-font);
  transition: 500ms;
  cursor: pointer;
}
a:hover {
  color: var(--link-hover);
}

ul {
  position: relative;
  font-size: 0.85em;
}